body {
  font-family: Helvetica;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  color: #425893;
  font-size: 2.2em;
}

.hide-it {
  visibility: hidden;
}

h2 {
  display: block;
  color: white;
  font-size: 2.5em;
}

p {
  font-size: 1em;
  color: white;
}

button {
  background-color: #425893;
  border: 1px solid #425893;
  border-radius: 10px;
  color: white;
  padding: 1.8% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
}

button:hover,
button:focus {
  background-color: #31416d;
}

.search-results {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  min-width: 280px;
  width: 80%;
  margin: 2% auto;
  padding: 2%;
  border-radius: 10px;
  background-color: #ec801a;
}

.result-box {
  padding: 1% 2%;
  flex: 1;
}

img {
  width: 100%;
  min-width: 180px;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
a:focus {
  border-radius: 10px;
  background-color: #efb051;
}

input[type=text] {
  width: 50%;
  padding: 2% 4%;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #425893;
  font-size: 1.6em;
}

input[type=text]:focus {
  background-color: #e3ebf7;
}

@media only screen and (orientation: portrait) {
  body {
    margin-top: 5%;
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.4em;
  }
  button,
  input[type=text] {
    font-size: 2em;
  }
  .search-results {
    flex-direction: row;
    align-content: space-around;
    max-width: 60%;
    margin: 3% auto;
    padding: 4%;
    flex-wrap: wrap;
  }
}

@media only screen and (min-device-width: 700px) {
  button,
  input[type=text] {
    font-size: 1.2em;
  }
  button {
    padding: 1.2% 1.7%;
  }
  input[type=text] {
    padding: 1.2% 3%;
  }
  p {
    font-size: 0.8em
  }
  img {
    min-width: 240px;
    width: 40%;
  }
}